<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../css/main-login.css">
</head>
<body>

	<div class="container">
<div class="container-login">
<form class="form-signin">
   
      <h1 class="title-login">Kodemioso Fred II</h1>
      <div class="container-button">
      <input type="text" id="user-name" class="form-control" placeholder="Usuario" required="" autofocus="">
      <input type="password" id="user-psw" class="form-control" placeholder="Contraseña" required="">
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordar contraseña
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" id="btn-login" >Registrarse</button>
      <p class="mt-5 mb-3 text-muted">©Vambi 2017-2018</p>
    </form>




<h2>Bottom Modal</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Modal Header</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>




    </div>
</div>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/login-view.js"></script>	
</body>
</html>