<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../css/main-login.css">
</head>
<body>

	<div class="container">
<div class="container-login">
<form class="form-signin">
   
      <h1 class="title-login">Registro</h1>
      <div class="container-button">
      <input type="text" id="inputuser" class="form-control" placeholder="Usuario" required="" autofocus="">
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordar contraseña
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
      <p class="mt-5 mb-3 text-muted">©Vambi 2017-2018</p>
    </form>
    </div>
</div>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/main.js"></script>	
</body>
</html>